.home {
    height: 100%;
    padding-bottom: 150px;
    .banner {
        height: 400px;
        width: 100%;
        position: relative;
        .small-banner{
            height: 195px;
            &.bottom{
                margin-top: 10px
            }
        }
    }
    .ad-top {
        width: 100%;
    }
    .load-more{
        height: 60px;
        line-height: 60px;
        color: #bbb;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #f0f0f0;
        margin: 30px 0 60px;
        &:hover {
            background-color: #fafafa;
            color: #999;
            border-color: #fafafa;
        }
    }

}